body{

    
    background-image: url(/Image/bg1.png);
    background-repeat: no-repeat;
    
  background-position: center; 
  background-size: cover;
 height: 100%;
 overflow-x: scroll;
 margin: 0;

  text-align: center;


}

#about-us{
     background: rgba(42, 38, 61, 0.82);
     background-size: cover;
     height: 100%;
     overflow-x: scroll;
     text-align: center;
     
}

.about-us-div{
  text-align: justify;
}

.tanda-panah{

  margin-right: 1800px;
  padding-top: 50px;
}

h1{


font-family: Pacifico;
font-style: normal;
font-weight: normal;
font-size: 3rem;
line-height: 5.25rem;
text-align: center;

padding-top: 9.375rem;

color: #FCB371;
}

p{


font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 1.75rem;
line-height: 2.0625rem;
text-align: center;

padding-left: 18.75rem;
padding-right: 18.75rem;

color: #FFFFFF;
}

@media (max-width:900px){

  p{


    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 1.75rem;
    line-height: 2.0625rem;
    text-align: justify;
    
    margin: auto;
    
    color: #FFFFFF;
    }
}
